<form class="auth-container" [formGroup]="userForm">
    <h2 *ngIf="!userRegistered">Registrar</h2>
    <h2 *ngIf="userRegistered">Login</h2>

    <div *ngIf="userRegistered">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" name="email" required>
  
      <label for="password">Senha:</label>
      <input type="password" formControlName="password" name="password" required>
  
      <button (click)="login()">Login</button>
    </div>

    <div>
        <div *ngIf="!userRegistered">
            <label for="name">Nome:</label>
            <input type="text" formControlName="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" formControlName="email" name="email" required>
        
            <label for="password">Senha:</label>
            <input type="password" formControlName="password" name="password" required>
        
            <label for="passwordConfirmation">Confirmação da senha:</label>
            <input type="password" formControlName="passwordConfirmation" name="passwordConfirmation" required>
        
            <button (click)="register()">Registrar</button>
          </div>
      
          <p>
            <span *ngIf="!userRegistered">Já possui uma conta? <a (click)="toggleRegister()">Login</a></span>
            <span *ngIf="userRegistered">Ainda não possui uma conta? <a (click)="toggleRegister()">Registrar</a></span>
          </p>
    </div>
  </form>
  