$base-font-size: 16px;

.auth-container {
  width: 25rem;
  margin: auto;
  margin-top: 6.25rem;
  padding: 1.25rem;
  border: 1px solid #ddd;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h2 {
  color: #333;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

input {
  width: calc(100% - 1rem);
  padding: 0.625rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: #e32626;
}

a {
  color: red;
  cursor: pointer;
  display: block;
  margin-left: 0.4rem;
}

a:hover {
  text-decoration: underline;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  span {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }