<header class="main-header">
    <h1>NakaPoke</h1>
    
    <div class="header-rightside">
        <button *ngIf="!user; else loggedIn" mat-raised-button color="warn" (click)="goToAuthPage()">Fazer Login</button>
    </div>
</header>

<ng-template #loggedIn class="header-rightside--shopping_basket">
    <mat-form-field>
        <mat-label>{{ user?.name }}</mat-label>
        <mat-select>
            <mat-option>
                <div (click)="logout()">
                    sair
                </div>
            </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-icon class="shopping-basket-icon">shopping_basket</mat-icon>
</ng-template>
