<div class="item-list-container" *ngIf="products && products.length > 0 ; else loading">
    <ul>
        <li *ngFor="let product of products">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ product.name }}</mat-card-title>
                    <mat-card-subtitle>{{ product.price }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="apiUrl + product.image_url" [alt]="product.name">
                <mat-card-content>
                    <p>{{ product.description }}</p>
                </mat-card-content>
                <mat-card-actions class="custom-mat-card-actions">
                    <button mat-button>
                        <mat-icon>add</mat-icon>
                        <p>Adicionar à sacola</p>
                    </button>
                </mat-card-actions>
            </mat-card>
        </li>
    </ul>
  </div>
  
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>